/Backend/*/bin
/Backend/*/obj
/Backend/.vs
/Backend/**/bin
/Backend/**/obj
/Backend/packages
/Frontend/node_modules
/Frontend/build
/Frontend/public
/BackOffice/node_modules
/BackOffice/build
/BackOffice/public
/obj
/bin
obj
bin
/BackOffice/.idea
