include mixins

div
    h1.page-header Ставки
    .alert.alert-danger(role="alert" ng-show="Error")
        .alert-link {{Error}}
    //form.search-form(ng-submit="search()")
        .row
            .col-lg-6
                .alert.alert-danger(role="alert" ng-show="Error")
                    .alert-link {{Error}}
                .input-group
                    input.form-control(placeholder="Введите IP адрес" ng-model="searchPattern" required)
                    span.input-group-btn
                        button.btn.btn-default(type="submit") Искать

    h3.sub-header
        .table-responsive(ng-class="{ loading: isLoading }")
            +loader
            div(style="min-height: 500px" ng-class="{ loading: isLoading }")
                +loader
                //.alert.alert-info(role="alert" ng-hide="bets && bets.length")
                    .alert-link Отсутствуют данные
                div
                    .bets
                        table.table.table-condensed
                            thead
                                tr
                                    th #
                                    th Дата
                                    th Турнир
                                    th Игра
                                    th Прогноз
                                    th Коэфициент
                                    th Ставка
                                    th Описание
                            tbody
                                tr(ng-repeat="bet in bets" ng-class="{ success: bet.Result && bet.Result.Soceed, danger: bet.Result && bet.Result.Soceed === false }")
                                    th {{$index}}
                                    td {{bet.GameStartDate}}
                                    td {{bet.Tournament}}
                                    td {{bet.Game}}
                                    td {{bet.Forecast}}
                                    td {{bet.Coefficient}}
                                    td {{bet.Amount}}
                                    td {{bet.Content}}