include mixins

div
    h1.page-header Ставки
    .alert.alert-danger(role="alert" ng-show="Error")
        .alert-link {{Error}}
    form.search-form
        .row
            .col-lg-6
                .alert.alert-danger(role="alert" ng-show="Error")
                    .alert-link {{Error}}
                .input-group
                    span.input-group-btn
                        button.btn.btn-default(ng-dialog template="bet_add_form.html" ctrl="BetAddCtrl") Добавить

    h3.sub-header
        .table-responsive(ng-class="{ loading: isLoading }")
            +loader
            div(style="min-height: 500px" ng-class="{ loading: isLoading }")
                +loader
                //.alert.alert-info(role="alert" ng-hide="bets && bets.length")
                    .alert-link Отсутствуют данные
                div
                    .bets
                        table.table.table-condensed
                            thead
                                tr
                                    th #
                                    th Дата
                                    th Турнир
                                    th Игра
                                    th Прогноз
                                    th Коэфициент
                                    th Ставка
                                    th Описание
                            tbody
                                tr(ng-repeat-start="bet in bets" ng-class="{ success: bet.Result && bet.Result.Soceed, danger: bet.Result && bet.Result.Soceed === false, info: bet.Result && bet.Result.Soceed === null }")
                                    th {{$index + 1}}
                                    td {{bet.GameStartDate}}
                                    td {{bet.Tournament}}
                                    td {{bet.Game}}
                                    td {{bet.Forecast}}
                                    td {{bet.Coefficient}}
                                    td {{bet.Amount}}
                                    td {{bet.Content}}
                                tr(ng-repeat-end ng-show="bet.Result && bet.Result.Soceed")
                                    td(colspan="10" align="center")
                                        | Выигрыш: {{bet.Result.Gain}}
                                        | Чистая прибыль:
                                        a(style="background: greenyellow") {{(bet.Result.Gain - bet.Amount).toFixed(2)}}
                                        |  Комментарий: {{bet.Result.Comment}}